*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body
{
   
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
  
}
.subkabaap
{
    display: flex;
    flex-direction: column;
}











.container ,.cont,.con
{
    width:100%;
    padding: 2%;
    display:flex ;
    margin: 50px;
    border: 1px solid rgb(255, 52, 82);

    
}

.container h2,.cont h2,.con h2
{
    width:100%;
    color:rgb(255, 52, 82);
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;

}

.container .row100,.cont .row100,.con .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container .row100 .col,
.cont .row100 .col,
.con .row100 .col
{
    position: relative;
    width:100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container .row100 .col .inputbox,
.cont .row100 .col .inputbox,
.con .row100 .col .inputbox
{
    position: relative;
    width: 100%;
    height: 40px;
    color: rgb(255, 52, 82);
}

.container .row100 .col .inputbox input,
.cont .row100 .col .inputbox input,
.con .row100 .col .inputbox input
{
    position: absolute;
    width: 100%;
    height:100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    top: 10px;
   
    z-index:1;
    color: #fff;
    
}

.container .row100 .col .inputbox .text,
.cont .row100 .col .inputbox .text,
.con .row100 .col .inputbox .text
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 4 0px;
    font-size: 18px ;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;

}

.container .row100 .col .inputbox input:focus +.text,
.container .row100 .col .inputbox input:valid +.line,

.cont .row100 .col .inputbox input:focus +.text,
.cont .row100 .col .inputbox input:valid +.line,

.con .row100 .col .inputbox input:focus +.text,
.con .row100 .col .inputbox input:valid +.line
{
    top: -35px;
    left: -10px;
   
}
.container .row100 .inputbox .line,
.cont .row100 .inputbox .line,
.con .row100 .inputbox .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background:rgb(255, 52, 82) ;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .col .inputbox input:focus ~.line,
.container .row100 .col .inputbox input:valid ~.line,

.cont .row100 .col .inputbox input:focus ~.line,
.cont .row100 .col .inputbox input:valid ~.line,

.con .row100 .col .inputbox input:focus ~.line,
.con .row100 .col .inputbox input:valid ~.line
{
    height: 40px;
}
.container .row100.inputbox,
.cont .row100.inputbox,
.con .row100.inputbox
{
    position: relative;
    height: 100px;
    width: 100%;
    padding: 10px 0px;
}

input[type="submit"]
{
    border:none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: rgb(255, 52, 82);
    color: #fff;
    font-size: 18px;
    border-radius:2px;

}